
 .nopadding{
        padding: 0px;
    }
    .btn_font{
        font-size: 30px;
    }
.container{
    padding: 30px;
    border: 1px solid grey;
    margin-top: 50px;
    background: whitesmoke;   
    border-radius: 10px;
    box-shadow: 5px rosybrown;
}
#Calculation{
    padding: 10px;
    font-size:30px;
    height: 50px;
}